body {
    background-color: #1d3e81;
    color: #E8EFF0;
    text-align: center;
}

img {
    width: 50%;
}

a {
    color: #E8EFF0;
}

a.backButton {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 1;
    text-decoration: none;
}

/* Your code here */
@media print {
    a.backButton {
        display: none;
    }

    .notPrinted {
        display: none;
    }

    h1+img {
        width: 100%;
    }

    body {
        background-color: white;
        position: relative;
    }

    h1 {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img+p {
        position: absolute;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -50%);
    }
}